connexion == 2.6.0
Flask==2.2.5
jsonschema==3.2.0
openapi-spec-validator==0.2.9
python_dateutil == 2.6.0
requests==2.25.1
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2
PyJWT==2.8.0
cryptography==41.0.5
gevent==23.9.1
